[program:tomcat]
command=/opt/tomcat/bin/catalina.sh run
user={{tomcat_user}}
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile=/var/log/tomcat/tomcat.out
logfile_maxbytes=20MB
logfile_backups=10
